<div>
  <div class="display_show" style="width: 100%; border-bottom: 1px solid darkgrey">
    <div class="display_show">
      <p><%= image_tag "bslogo2.png", class: "img_logo_cardapio" %></p>
    </div>
  </div>

  <div class="index_show" style="margin-top: 10px">
    <div style="justify-content: center; text-align: center"><%= button_tag "Financeiro", class: "btn_conta" %></div>

    <div style="margin-bottom: 20px; margin-top: 20px">
      <%= listTables %>
    </div>
    <div style="justify-content: center; text-align: center"><%= button_tag "Cardápio", class: "btn_conta" %></div>
  </div>
</div>
