<div class="card_categories display_show">
  <% categories.each do |category| %>
    <div class="card_categories">
      <button><strong><%= category.nome %></strong></button>
    </div>
  <% end %>
</div>