<div id="<%= dom_id client %>">
  <div class="card_show_client">
    <p>
      <strong>Nome:</strong>
      <%= client.nome %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= client.email %>
    </p>

    <p>
      <strong>Telefone:</strong>
      <%= client.telefone %>
    </p>
  </div>
</div>
