<div class="index_show img_background_home">
  <div class="card_cadastro_maior">
    <div class="card_cadastro">
      <h1>Editing client</h1>

      <%= render "form", client: @client %>

      <br>

      <div>
        <!--    <%#= link_to "Show this client", @client %> |-->
        <%= link_to "Voltar para cliente", client_path(@client) %>
      </div>
    </div>
  </div>

</div>