<div class="index_show">
  <h1>Cadastre-se</h1>

  <div>
    <%= render "form", client: @client %>
  </div>
  <br>
  
</div>
<div class="card_form_client">
    <%= link_to "VOLTAR ", root_path %>
</div>