<!-- popup
<%# content_for :javascript do %>
  <%#= javascript_include_tag 'custom' %>
<%# end %>
-->
<div class="index_show img_background_home">
  <div class="card_home_maior">
    <div class="card_home">
      <h1 style="color: black">ADMIN</h1>
      <p class="img_logo_home"><%= image_tag "bslogo2.png" %></p>
    </div>
    <div style="margin-top: 10px">
      <h2><%= button_to "LOGIN", table_index_path, method: :get, class: "btn_cardapio" %></h2>
      <!-- popup
     <h2><%#= link_to "Projeto", "#", id: "open-popup", class: "btn btn-primary" %></h2>
      -->
    </div>
  </div>
</div>