<div class="index_show">
  <h1>BEM VINDO</h1>
  <h1>AO</h1>
  <h3><%= image_tag "bslogo1.png" %></h3>
  <h2><%= button_to "CADASTRE-SE", new_client_path, method: :get, class: "btn_cadastrar" %></h2>
  
</div>