<div id="<%= dom_id order %>">
  <p>
    <strong>Valor total:</strong>
    <%= order.valor_total %>
  </p>

  <p>
    <strong>Numero mesa:</strong>
    <%= order.numero_mesa %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= order.client_id %>
  </p>

</div>
