<iframe src="http://localhost:3001/" width="800" height="600" frameborder="0"></iframe>

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Chat App</title>-->
<!--    <%= csrf_meta_tags %>-->
<!--    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Chat Room</h1>-->
<!--<div id="chat-box">-->
<!--    <div id="messages">-->
<!--        <%# Loop through and display chat messages here %>-->
<!--        <% @messages.each do |message| %>-->
<!--        <div class="message">-->
<!--            <strong><%= message.sender %>:</strong>-->
<!--            <%= message.content %>-->
<!--        </div>-->
<!--        <% end %>-->
<!--    </div>-->
<!--    <div id="message-input">-->
<!--        <%= form_with(model: Message.new, remote: true) do |form| %>-->
<!--        <div class="field">-->
<!--            <%= form.text_area :content, placeholder: 'Type your message...' %>-->
<!--        </div>-->
<!--        <div class="actions">-->
<!--            <%= form.submit 'Send' %>-->
<!--        </div>-->
<!--        <% end %>-->
<!--    </div>-->
<!--</div>-->

<!--<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>-->
<!--</body>-->
<!--</html>-->
