/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

 body{
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-size: 20px;
    background-color: white;
    color: black;
 }
 .index_show{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.display_show{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.display_show_items_order{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.div_btn_navbar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.btn_cardapio{
    background-color: green;
    color: white;
    width: 150px;
    height: 70px;
    font-size: 18px;
    border-radius: 6%;
    margin: 5px;
}

.btn_cadastrar{
    background-color: green;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 5%;

}

.btn_login{
    background-color: blue;
    color: white;
    width: 60px;
    height: 30px;
    font-size: 12px;
    border-radius: 5%;

}

.btn_destroy{
    background-color: red;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 17px;
    border-radius: 5%;
}

.btn_perfil_cardapio{
    width: 70px;
    height: 50px;
    font-size: 15px;
}

.btn_conta{
    margin-left: 42%;
    width: 120px;
    height: 70px;
    font-size: 20px;
    background-color: orange;
    color: white;
}

.form_client{
    margin-bottom: 10px;
    font-size: 30px;
}

.card_form_client {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card_show_client{
    margin-top: 20px;
    font-size: 35px;
}

.card_home_maior{
    margin-left: 28%;
    width: 40%;
    height: 85%;
    margin-top: 3%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3%;
}

.card_home{
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 12%;
}

.card_home h1{
    margin: 1px;
    font-family: helvetica, verdana, arial, sans-serif;
    font-weight: bold;
}

.card_cadastro{
    height: 75%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.card_cadastro_maior{
    margin-left: 28%;
    width: 40%;
    height: 80%;
    margin-top: 3%;
    padding-top: 3%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3%;
}

.card_itens{
    width: 180px;
    height: 230px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5%;
    margin-left: 15px;
}

.card_itens h4{
    font-size: 16px;
}

.card_itens_show{
    margin-left: 37%;
    width: 400px;
    height: 520px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5%;
    background-color: white;
}

.card_img_show{
    padding: 15px;
    border: 1px solid grey;
    border-radius: 5%;
}

.card_categories{
    margin-right: 10px;
    margin-left: 10px;
}

.card_orders{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.title_order{
    justify-content: flex-start;
    border-bottom: 1px solid black;
}

.img_logo_cardapio{
    width: 70px;
    margin-top: -10px;
}

.img_logo_home{
    width: 30px;
    margin-top: 0%;
    margin-left: 8%;
}

.img_admin_home{
    background-image: url("admin/app/assets/images/admin.png");
    margin-left: 8%;
    width: 40px;
}

.img_items{
    width: 90px;
}

.img_items_show{
    width: 220px;
}

.img_background_show{
    background-image: url("beachdraw.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.img_background{
    background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(24,24,124,1) 69%, rgba(0,0,0,1) 100%);
}

.img_background_home{
    background-image: url("beachdraw.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 730px;
}

.table_clients{
    width: 100%;
    border: 1px solid black;
}